{% extends 'blog/base.html' %}

{% block content %}
<div class="row">
<div class="col-12">
    <form class="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form.visible_fields %}
            <p>
                {{ field.errors.as_ul }}
                <label>{{ field.label }}</label>
                {% if field.name == 'public_after_date' or field.name == 'public_date' %}
                    <input class="form-control" type="datetime-local" name="{{ field.name }}" id="id_{{ field.name }}" value="{{ field.value|date:'Y-m-d\TH:i' }}" />
                {% else %}
                    {{ field }}
                {% endif %}
            </p>
        {% endfor %}
        <div class="form-group">
            <button type="submit" class="btn btn-success">
                {% if object %}
                    Сохранить
                {% else %}
                    Добавить
                {% endif %}
            </button>
            <a href="{% url 'blog:blog' %}" class="btn btn-warning">
                Отмена
            </a>
            <a href="{% url 'blog:delete' object.pk %}" class="btn btn-danger right">
                Удалить
            </a>
        </div>
    </form>
</div>
</div>
{% endblock %}