{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div class="row">
    <div class="col-12 form-group">
        <div class="h1">Уверены, что хотите удалить?</div>
        {{ object.title }}
        <form action="{% url 'blog:delete' object.pk %}" method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="удалить">
        </form>
        <button class="btn btn-info text-white mt-4">
            <a href="{% url 'blog:blog' %}">отмена</a>
        </button>
    </div>
    </div>
{% endblock %}