{% extends 'blog/base.html' %}

{% block content %}
<div class="row">
<div class="col-12">
    <h1 class="text-center">{{ object.title }}</h1>
    <p>
        {{ object.body }}
    </p>
</div>
</div>
{% endblock %}