{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="row">
{% for object in object_list %}
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img src="/media/{{ object.preview }}" class="card-img-top">
        <div class="card-body">
          <p class="card-text">{{ object.title }}</p>
          <p class="card-text">{{ object.intro }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="{% url 'blog:read' object.pk %}" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                {% if user.is_superuser %}
              <a type="button" href="{% url 'blog:update' object.pk %}" class="btn btn-sm btn-outline-secondary">Edit</a>
                {% endif %}
            </div>
            <small class="text-muted">{{ object.public_date|date:"d-m-Y" }}</small>
          </div>
        </div>
      </div>
    </div>
{% endfor %}
</div>
{% endblock %}